/*!
 * Custom People's Q! CSS
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}



@media (min-width:768px){

    .login-header{
			padding:50px 0 0 6.5em;	
    }	
	
    .bottom-align{
            margin-top:15px;			
            /*top:40px;*/            
			clear:right;
    }
	
	.no-left-padding{
		padding-left:0px;
		margin-left:0px;
	}

	.pq-carousel-text{
		text-align: right;
		float:right;
		margin-right:5px;
		margin-bottom:0px;
		
	}
	.pq-carousel-header {
		font-weight:bold;

		background:#2c3e50;
		padding:5px 15px 5px 15px;
		clear:right;
		
		color:#e67e22;
	}
	.pq-carousel-caption{
  		 
		  right: 40%;
		  bottom: 200px;
		  left: 5%;  
		  padding-top: 20px;
		  padding-bottom: 20px;
	}
	
	.pq-carousel{
		padding: 15px;
	}
	
}

@media(min-width:700px){
	.pq-collapse{
		display:none;
	}
}

@media(max-width:768px){
	.pq-carousel-header{
		display:none;
	}
	.pq-carousel-text-min{
		display:block;
		
		font-weight:bold;
		
		float:right;
		width:100%;
		text-align:center;
		
		background:#2c3e50;
		padding:5px 15px 5px 15px;
		margin-top:2em;
		clear:right;
		
		color:#e67e22;

	}
	.pq-carousel-caption{
		  position:absolute;
		  right: 15%;		  
		  bottom: 40px;
		  left: 15%;
		  z-index: 10;
		  padding-top: 20px;
		  padding-bottom: 20px;
	}
	
	.pq-carousel-caption-header{
		font-size:35px;
	}
}
@media (max-width:568px){
	.bottom-align{	
		clear: all;
	}
	
    .login-header{
		padding:0px 0 0 0px;	
    }	

	
}
@media(max-width:550px){
	.pq-carousel-caption-header{
		font-size:30px;
	}
}

@media(max-width:450px){
	.pq-carousel-caption-header{
		font-size:25px;
	}
}

@media(max-width:350px){

    .pq-carousel-header{
		font-size:14px;
    }
}

@media(max-width:300px){
	.pq-carousel-caption-header{
		font-size:20px;
	}
    .pq-carousel-header{
		font-size:12px;
    }
}

.pq-search-toggle{
	padding:6px 6px;
}	
.pq-navbar-toggle{            
	margin-top:15px;
}

.header-logo{
	margin:0px;
	height:100%;
}

.pq-navbar-links{
	margin-top:5px;
}
.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}



.pq-modal-header {
  background-color:#e67e22;
  border-bottom: #e67e22;
  color: #ecf0f1;
  font-weight:bold;

}
/*.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}*/

.pq-modal-body{
    border: 1px solid #e67e22;
/*    background-color:#2c3e50;*/
    color: #ecf0f1;
}


.pq-carousel-caption{  
  color: #fff;
  text-align: center;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, .6);
}

.pq-carousel-caption-header{
	   	
	margin-bottom:0px;    

}

.pq-format-tags, .pq-format-tags a{
	margin:5px;
}

.pq-form-misc-links{
	float:right;
	font-size:13px;
	margin-right:5px;	
}
.navbar-brand{
	height:100%;
}


.pq-page-instruction{
	margin-top:12px;
	font-size:14px;
}


